@page "/Login"
@using ScoreTracker.Domain.SecondaryPorts

<PageTitle>@L["Login"]</PageTitle>

<MudPaper Class="align-center" Elevation="0" MaxWidth="500px">
    <MudContainer Fixed="true">
        <MudCard>

            <MudCardHeader>
                <MudText Typo="Typo.h4" Color="Color.Primary">@L["Login"]</MudText>
            </MudCardHeader>
            <MudCardContent>
                <MudContainer Fixed="true">
                    <MudTooltip Text=@L["Log In With","Discord"]>
                        <MudButton Href="/Login/Discord" StartIcon="@Icons.Custom.Brands.Discord" Variant="Variant.Filled" Style="@($"color:{Colors.Gray.Lighten5};background:{Colors.Indigo.Default};")">Discord</MudButton>
                    </MudTooltip>
                    <MudTooltip Text=@L["Log In With","Google"]>
                        <MudButton Href="/Login/Google" StartIcon="@Icons.Custom.Brands.Google" Variant="Variant.Filled" Style="@($"color:{Colors.Gray.Lighten5};background:{Colors.Orange.Darken3};")">Google</MudButton>
                    </MudTooltip>

                    </MudContainer>
            </MudCardContent>
            <MudCardActions>
                <MudSpacer></MudSpacer>
                <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="@(() => _isDialogVisible = true)">@L["Account Creation?"]</MudButton>
            </MudCardActions>
        </MudCard>
    </MudContainer>

</MudPaper>

<MudDialog @bind-Visible="_isDialogVisible">
    <TitleContent>
        @L["Account Creation?"]
    </TitleContent>
    <DialogContent>
        <p>
            @L["Account Creation Line 1"]
            <br/><br/>
            @L["Account Creation Line 2"]
            <br/><br/>
            @L["Account Creation Line 3"]
        </p>
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Text" Color="Color.Primary" Href="/Privacy" Target="_blank">@L["Full Privacy Policy"]</MudButton>
        <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="@(() => _isDialogVisible = false)" Class="px-10">@L["Close"]</MudButton>
    </DialogActions>

</MudDialog>

@inject ICurrentUserAccessor CurrentUser;
@inject NavigationManager NavManager
@code
{
    private bool _isDialogVisible = false;
    protected override Task OnInitializedAsync()
    {
        if (CurrentUser.IsLoggedIn)
        {
            NavManager.NavigateTo("/Charts");
            
        }
        return Task.CompletedTask;
    }
}
