@page "/UploadPhoenixScores"
@using ScoreTracker.Domain.SecondaryPorts
@using ScoreTracker.Domain.Models
@using MediatR
@using CsvHelper
@using System.Globalization
@using System.Security.Authentication
@using MassTransit
@using Microsoft.OpenApi;
@using ScoreTracker.Application.Commands
@using ScoreTracker.Application.Queries
@using ScoreTracker.Domain.Enums
@using ScoreTracker.Domain.Events
@using ScoreTracker.Domain.Records
@using ScoreTracker.Web.Components
@using ScoreTracker.Web.Dtos
@using ScoreTracker.Web.Services
@using ScoreTracker.Web.Services.Contracts
@using ScoreTracker.Web.Shared
@implements IDisposable
<PageTitle>@L["Import Phoenix Scores"]</PageTitle>

<MudCard >
    <MudCardHeader><h2>@L["Import Phoenix Scores"]</h2></MudCardHeader>
    <MudCardContent>
        @switch (_currentStep)
        {
            case Step.Information:
                <p>
                    @L["Phoenix Import Info 1"]
                    <br/><br/>
                    
                    @L["Phoenix Import Info 2"]
                    <br/><br/>
                    
                    @L["Phoenix Import Info 3"]
                    <br/><br/>
                
                    @L["Phoenix Import Info 4"]
                    </p>
                <MudGrid>
                    <MudItem xs="12" sm="6">
                        <MudNumericField T="int" Min="1" Label=@L["Starting Page"] @bind-Value="_startPage"></MudNumericField>
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        <MudNumericField T="int?" Min="1" Label=@L["Ending Page"] @bind-Value="_endPage" Clearable="true"></MudNumericField>
                    </MudItem>
                </MudGrid>
                break;
            case Step.UsePassword:
                <MudGrid>
                    <MudItem xs="12">
                        <MudText>
                            @L["Use Password 1"]
                            
                        </MudText>
                    </MudItem>
                    <MudItem xs="12">
                        <MudText>@L["Use Password 2"]</MudText>
                    </MudItem>
                    <MudItem xs="12">
                        <MudText>@L["Use Password 3"]</MudText>
                    </MudItem>
                    <MudItem xs="12">
                        <MudText>@L["Use Password 4"]</MudText>
                    </MudItem>
                    <MudItem xs="12" sm="4">
                        <MudTextField Label="PIUGame.com Username" Disabled="_isImporting" @bind-Value="_username"></MudTextField>
                    </MudItem>
                    <MudItem xs="12" sm="4">
                        <MudTextField InputType="InputType.Password" Disabled="_isImporting" Label="PIUGame.com Password" @bind-Value="_password"></MudTextField>
                    </MudItem>
                    <MudItem xs="12" sm="4">
                        @if (_cards.Any())
                        {
                            <MudSelect T="string" Value="_selectedId" ValueChanged="SelectId" Label=@L["Game Card"]>
                                @foreach (var gameCard in _cards)
                                {
                                    <MudSelectItem T="string" Value="@gameCard.Id">@gameCard.GameTag</MudSelectItem>
                                }
                            </MudSelect>
                        } else if (!string.IsNullOrWhiteSpace(_selectedId))
                        {
                            <MudTooltip Text="@_selectedGameTag">
                                <MudText>
                                    @L["Game Card"]: @_selectedGameTag
                                </MudText>
                            </MudTooltip>
                            
                        }
                    </MudItem>

                    <MudItem xs="12" sm="6">
                        <MudTooltip Text="Will pull in broken scores from your recent plays, passing scores overwrite broken scores">
                            
                            <MudCheckBox T="bool" Label=@L["Include Broken Scores"] @bind-Value="_includeBroken" Disabled="_isImporting"></MudCheckBox>
                        </MudTooltip>
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        <MudCheckBox T="bool" Label=@L["Also Sync for PIU Tracker"] Disabled="_isImporting" Value="_alsoImportPiuTracker" ValueChanged="d=>SetPiuTrackerImport(d)"></MudCheckBox>
                        <MudText Typo="Typo.subtitle2">
                            Another community built score/progress tracking tool:
                            <MudLink Target="_blank" Href="https://piutracker.app/">https://piutracker.app/</MudLink>
                        </MudText>
                        @if (_alsoImportPiuTracker && !_isPublic)
                        {
                            <MudText Typo="Typo.subtitle2" Color=Color.Warning>Your account is set to private, but PIU Tracker is 100% public. Continuing will make your scores public on PIU Tracker.</MudText>
                        }
                    </MudItem>
                    @if (_isImporting)
                    {
                        <MudItem xs="12">
                            <MudText>Importing... (Can take a few minutes)</MudText>
                            <br/>
                            @if (!_scores.Any())
                            {
                                <MudText>@_passwordImportStatus</MudText>
                            }
                        </MudItem>
                    }
                    @if (_errors.Any())
                    {
                        <MudItem xs="12">
                            @foreach (var error in _errors)
                            {
                                <MudText Color="Color.Error">@error</MudText>
                            }
                        </MudItem>
                    }
                    @if (_scores.Any())
                    {
                        <MudItem xs="12">
                            <MudTable T="RecordedPhoenixScore" Items="_scores">
                                <ToolBarContent>
                                    <MudText>@_passwordImportStatus</MudText>
                                </ToolBarContent>
                                <HeaderContent>
                                    <MudTh>Song</MudTh>
                                    <MudTh>Difficulty</MudTh>
                                    <MudTh>Score</MudTh>
                                    @if (_rankings.Any())
                                    {
                                        <MudTh>Ranking %</MudTh>
                                    }
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd>
                                        <MudTooltip Text="@_charts[context.ChartId].Song.Name">

                                            <MudImage Src="@_charts[context.ChartId].Song.ImagePath.ToString()" Height="35" Alt="@_charts[context.ChartId].Song.Name" Elevation="25" ObjectFit="ObjectFit.ScaleDown" />
                                        </MudTooltip>
                                    </MudTd>
                                    <MudTd>
                                        <DifficultyBubble Chart="_charts[context.ChartId]"></DifficultyBubble>

                                    </MudTd>
                                    <MudTd>
                                        <ScoreBreakdown Score="context.Score" Plate="context.Plate" ShowScore="true" OneLine="true" Ranking="_rankings.TryGetValue(context.ChartId, out var r)?r:null"></ScoreBreakdown>
                                    </MudTd>
                                    @if (_rankings.Any())
                                    {
                                        <MudTd>
                                            @if (_rankings.TryGetValue(context.ChartId, out var ranking))
                                            {
                                                <MudText>@((100.0 * ranking.Ranking).ToString("N1")) of @ranking.PlayerCount Similar Players</MudText>
                                            }
                                        </MudTd>
                                    }
                                </RowTemplate>
                                <PagerContent>
                                    <MudTablePager></MudTablePager>
                                </PagerContent>
                            </MudTable>
                        </MudItem>
                    }
                </MudGrid>
                break;
            case Step.Uploading:
                <p>
                    @L["Phoenix Import Uploading"]
                </p>
                <MudProgressLinear Indeterminate="true" Color="@Color.Primary" Size="@Size.Large"></MudProgressLinear>
                break;
            case Step.Confirming:
                <p>
                    <b>@L["Scores Parsed"]:</b> @_spreadSheetScores.Count
                    <br/>
                    <b>@L["Parse Failures"]:</b> @_failedUploads.Count
                    <br/><br/>
                    @L["Phoenix Import Confirming"]
                
                    </p>
                break;
            case Step.Saving:
                <p>
                    @L["Phoenix Import Saving"]
                </p>
                <br/>
                <span>
                    @L["Phoenix Import Saving Progress",_currentSaved,_maxSaving,_remainingTime.ToString(@"m\:ss"), _failedUploads.Count]
                </span>
                <MudProgressLinear Color="@Color.Primary" Size="@Size.Large" Value="@_currentSaved" Min="1" Max="@_maxSaving"/>
                break;
            case Step.Finished when _failedUploads.Any():
                <p>
                  @L["Phoenix Import Saving Failures"]
                    </p>
                break;
            case Step.Finished when !_failedUploads.Any():
                <p>
                    @L["Phoenix Import Saving Success"]
                </p>
                break;
            default:
                <p>
                    You somehow ended up in a state between realities. Refresh the page to try again.
                </p>
                break;
        }
    </MudCardContent>
    <MudCardActions>
        @if (_currentStep == Step.UsePassword)
        {
            
            <MudButton Variant="Variant.Outlined"
                       Color="@Color.Primary"
                       StartIcon="@Icons.Material.Filled.Code"
                       OnClick="()=>_currentStep=Step.Information">
                @L["Use Script"]
            </MudButton>
        }
        else
        {
            <MudButton Variant="Variant.Outlined"
                       Color="@Color.Primary"
                       StartIcon="@Icons.Material.Filled.Password"
                       OnClick="() => _currentStep = Step.UsePassword">
                @L["Use Password"]
            </MudButton>
        }
        <MudSpacer></MudSpacer>
        @if (_currentStep is Step.Uploading or Step.Confirming or Step.Saving)
        {
            <MudButton Variant="@Variant.Text"
                       Color="@Color.Primary"
                       StartIcon="@Icons.Material.Filled.Cancel"
                       OnClick="@Cancel">@L["Cancel"]</MudButton>
        }
        @if (_currentStep == Step.Information)
        {
            <MudButton Variant="Variant.Outlined"
                       Color="@Color.Primary"
                       StartIcon="@Icons.Material.Filled.ContentCopy"
                       OnClick="CopyPIUGameScript">
                @L["Copy Script"]
            </MudButton>
            <MudButton HtmlTag="label"
                       Variant="@Variant.Filled"
                       Color="@Color.Primary"
                       StartIcon="@Icons.Material.Filled.UploadFile"
                       for="uploadInput">
                @L["Upload Scores"]
            </MudButton>
        }
        @if (_currentStep == Step.Confirming)
        {
            <MudButton Variant="@Variant.Filled"
                       Color="@Color.Primary"
                       StartIcon="@Icons.Material.Filled.Save"
                       OnClick="@SaveScores">@L["Save Scores"]</MudButton>
        }
        @if (_failedUploads.Any() && _currentStep is Step.Confirming or Step.Finished)
        {
            <MudButton OnClick="@DownloadFailures"
                       Variant="@Variant.Outlined"
                       Color="@Color.Primary"
                       StartIcon="@Icons.Material.Filled.FileDownload">@L["Download Failures"]</MudButton>
        }
        @if (_currentStep == Step.UsePassword)
        {
            <MudButton Variant="@Variant.Filled"
                       Disabled="_isImporting || string.IsNullOrWhiteSpace(_username) || string.IsNullOrWhiteSpace(_password)"
                       Color="Color.Primary"
                       StartIcon="@Icons.Material.Filled.ImportExport"
                       OnClick="ImportScores">Import</MudButton>
            @if (!_cards.Any() && !string.IsNullOrWhiteSpace(_selectedId))
            {
                <MudButton Variant="Variant.Filled"
                           Disabled="_isImporting || string.IsNullOrWhiteSpace(_username) || string.IsNullOrWhiteSpace(_password)"
                           Color="Color.Primary"
                           StartIcon="@Icons.Material.Filled.ChangeCircle"
                           OnClick="LoadCards">@L["Change Card"]</MudButton>
            }
        }
        @if (_currentStep == Step.Finished)
        {
            <MudButton OnClick="@(_ => _currentStep = Step.Information)"
                       Variant="@Variant.Text"
                       Color="@Color.Primary"
                       StartIcon="@Icons.Material.Filled.RestartAlt">@L["Restart"]</MudButton>
        }
    </MudCardActions>
</MudCard>
<InputFile id="uploadInput" OnChange="@UploadFile" hidden accept=".csv,.xlsx"/>

@inject NavigationManager NavManager
@inject ICurrentUserAccessor CurrentUser;
@inject IUiSettingsAccessor UiSettings;
@inject IMediator Mediator;
@inject ISnackbar Snackbar;
@inject IPhoenixScoreFileExtractor Extractor;
@inject IJSRuntime JSRuntime;
@inject ILogger<UploadPhoenixScores> Logger;
@inject IBus Bus;
@code
{
    private enum Step
    {
        Information,
        Uploading,
        Confirming,
        Saving,
        UsePassword,
        Finished
    }

    private sealed record SongMapping(string From, string To)
    {

    }

    private bool _isScoreTableShowing = false;
    private Step _currentStep = Step.UsePassword;
    private int _maxSaving = 0;
    private int _currentSaved = 0;
    private int _startPage = 1;
    private bool _isPublic = false;
    private string _username = "";
    private string _password = "";
    private bool _includeBroken = false;
    private bool _alsoImportPiuTracker  = false;
    private const string PiuTrackerKey = "UploadPhoenixScores__ImportPiuTracker";
    public async Task SetPiuTrackerImport(bool newValue)
    {
        _alsoImportPiuTracker = newValue;
        await UiSettings.SetSetting(PiuTrackerKey, newValue.ToString());
    }
    private string _selectedGameTag = "";
    private string _selectedId = "";
    private IEnumerable<GameCardRecord> _cards = Array.Empty<GameCardRecord>();

    private void SelectId(string id)
    {
        _selectedGameTag = _cards.First(c => c.Id == id).GameTag;
        _selectedId = id;
    }

    private async Task LoadCards()
    {
        _isImporting = true;

        try
        {
            _cards = (await Mediator.Send(new GetGameCardsQuery(_username, _password))).ToArray();
        }
        catch (InvalidCredentialException)
        {
            _passwordImportStatus = "Invalid Username/Password";
            Snackbar.Add("Your password appears to be incorrect, could not log into https://piugame.com", Severity.Error);
        }
        catch (Exception e)
        {
            _passwordImportStatus = "Import Experienced an Error";
            Logger.LogError(e, $"There was an error while importing scores");
            Snackbar.Add("There was an error while trying to import your scores. Try again later. If this persists notify DrMurloc", Severity.Error);
        }
        _isImporting = false;
    }
    private async Task ImportScores()
    {
        _isImporting = true;
        _errors.Clear();
        try
        {
        if (string.IsNullOrWhiteSpace(_selectedId))
        {
            
            _cards = (await Mediator.Send(new GetGameCardsQuery(_username, _password))).ToArray();
            if (_cards.Count() > 1)
            {
                _selectedId = _cards.First(c => c.IsActive).Id;
                _selectedGameTag = _cards.First(c => c.IsActive).GameTag;
                Snackbar.Add($"Select a Game ID to Import", Severity.Info);
                _isImporting = false;
                return;
                
            }
            _selectedId = _cards.First().Id;
            _selectedGameTag = _cards.First().GameTag;

        }
        await UiSettings.SetSetting($"PhoenixScoreUpload__LastGameId", _selectedId);
        await UiSettings.SetSetting($"PhoenixScoreUpload__LastGameTag", _selectedGameTag);

        _scores.Clear();
        _passwordImportStatus = "Starting Import...";
            await Mediator.Send(new ImportOfficialPlayerScoresCommand(_username, _password, _selectedId, _selectedGameTag,_includeBroken,_alsoImportPiuTracker));
            _passwordImportStatus = "Import Completed!";
        }
        catch (InvalidCredentialException)
        {
            _passwordImportStatus = "Invalid Username/Password";
            Snackbar.Add("Your password appears to be incorrect, could not log into https://piugame.com", Severity.Error);
        }
        catch (Exception e)
        {
            _passwordImportStatus = "Import Experienced an Error";
            Logger.LogError(e, $"There was an error while importing scores");
            Snackbar.Add("There was an error while trying to import your scores. Try again later. If this persists notify DrMurloc",Severity.Error);
        }
        _isImporting = false;
    }
    private bool _isImporting = false;
    private int? _endPage = null;
    private TimeSpan _remainingTime = TimeSpan.MinValue;
    private IDictionary<Guid,Chart> _charts = new Dictionary<Guid, Chart>();
    private readonly ICollection<RecordedPhoenixScore>_scores = new List<RecordedPhoenixScore>();
    private List<SpreadsheetScoreErrorDto> _failedUploads = new List<SpreadsheetScoreErrorDto>();
    private List<RecordedPhoenixScore> _spreadSheetScores = new List<RecordedPhoenixScore>();
    private CancellationTokenSource _currentCancellation = new CancellationTokenSource();
    private string _passwordImportStatus = string.Empty;
    private Guid _userId;
    protected override async Task OnInitializedAsync()
    {
        _charts = (await Mediator.Send(new GetChartsQuery(MixEnum.Phoenix))).ToDictionary(c => c.Id);
        if (!CurrentUser.IsLoggedIn)
        {
            NavManager.NavigateTo("/Login");
            return;
        }
        MainLayout.ImportStatusUpdated += StatusUpdate;
        MainLayout.ImportStatusError += ImportError;
        _isPublic = CurrentUser.User.IsPublic;
        _userId = CurrentUser.User.Id;
        _selectedId = await UiSettings.GetSetting("PhoenixScoreUpload__LastGameId") ?? "";
        _selectedGameTag = await UiSettings.GetSetting("PhoenixScoreUpload__LastGameTag") ?? "";
        _alsoImportPiuTracker = bool.TryParse(await UiSettings.GetSetting(PiuTrackerKey), out var v) && v;

    }

    private List<string> _errors = new List<string>();
    private void ImportError(object? origin, ImportStatusError e)
    {
        if (e.UserId != _userId) return;
        _errors.Add(e.Error);
        InvokeAsync(StateHasChanged);
    }
    private void StatusUpdate(object? origin, ImportStatusUpdated e)
    {
        if (e.UserId != _userId) return;
        foreach (var score in e.Scores)
        {
            _scores.Add(score);
        }
        _passwordImportStatus = e.Status;
        InvokeAsync(GetRatings);
    }

    private IDictionary<Guid, ScoreRankingRecord> _rankings;
    private async Task GetRatings()
    {
        _rankings = await Mediator.Send(new GetChartScoreRankingsQuery(_scores.Select(s => s.ChartId)));
        StateHasChanged();
    }
    private void Cancel()
    {
        _currentStep = Step.Information;
        _currentCancellation?.Cancel();
    }


    private async Task DownloadFailures()
    {

        var stream = new MemoryStream();
        await using var writer = new StreamWriter(stream);
        await using var csv = new CsvWriter(writer, CultureInfo.InvariantCulture);
        await csv.WriteRecordsAsync(_failedUploads);
        await writer.FlushAsync();
        await csv.FlushAsync();
        const string fileName = "failedUploads.csv";

        using var streamRef = new DotNetStreamReference(stream: stream);
        stream.Seek(0, SeekOrigin.Begin);

        var module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/helpers.js");
        await module.InvokeVoidAsync("downloadFileFromStream", fileName, streamRef);

    }

    private async Task SaveScores()
    {
        _currentStep = Step.Saving;
        _currentCancellation = new CancellationTokenSource();
        var cancellationToken = _currentCancellation.Token;
        _currentSaved = 0;
        var startTime = DateTimeOffset.Now;
        var myScores = (await Mediator.Send(new GetPhoenixRecordsQuery(_userId), cancellationToken)).ToDictionary(s => s.ChartId);
        var toSaveScores = _spreadSheetScores
            .Where(s => !myScores.ContainsKey(s.ChartId) || s.Score != myScores[s.ChartId].Score || s.Plate != myScores[s.ChartId].Plate || myScores[s.ChartId].IsBroken).ToArray();

        _maxSaving = toSaveScores.Length;
        foreach (var best in toSaveScores)
        {

            if (_currentCancellation.IsCancellationRequested)
            {
                return;
            }

            StateHasChanged();
            _currentSaved++;
            _remainingTime = (DateTimeOffset.Now - startTime) * (((double)_maxSaving - (double)_currentSaved) / (double)_currentSaved);
            try
            {
                await Mediator.Send(new UpdatePhoenixBestAttemptCommand(best.ChartId,false,best.Score,best.Plate), cancellationToken);
            }
            catch (OperationCanceledException)
            {
                return;
            }
        }
        _currentStep = Step.Finished;
    }
    private async Task UploadFile(InputFileChangeEventArgs e)
    {
        var file = e.File;
        if (file.Size > XXScoreFile.MaxByteCount)
        {
            Snackbar.Add("File cannot be larger than 10 MB", Severity.Error);
            return;
        }
        _currentStep = Step.Uploading;
        _currentCancellation = new CancellationTokenSource();

        try
        {
            var result = await Extractor.GetScores(file, _currentCancellation.Token);
            _spreadSheetScores = result.Scores.ToList();
            _failedUploads = result.Errors.ToList();
            _currentStep = Step.Confirming;
        }
        catch (ScoreFileParseException ex)
        {
            Snackbar.Add(ex.Message, Severity.Error);
            _currentStep = Step.Information;
            return;
        }
        catch (OperationCanceledException)
        {
            return;
        }
        catch (Exception)
        {
            Snackbar.Add("There was an unknown error while parsing the file", Severity.Error);
            _currentStep = Step.Information;
            return;
        }
    }
    private async Task CopyPIUGameScript()
    {
        await JSRuntime.InvokeVoidAsync("navigator.clipboard.writeText", _piuGameScript());
        Snackbar.Add("Copied to clipboard!", Severity.Success);
    }

    private string _pageLimitString() => _endPage == null ? "" : $"pageIndex>{_endPage}||";
    private string _piuGameScript() => $@"
var csvString=""data:text/csv;charset=utf-8,"";
    csvString+=""Song,Difficulty,Score,LetterGrade,Plate\r\n"";
    var pageIndex={_startPage};
    while(true) {{

        var nextPageString = await $.get(""https://piugame.com/my_page/my_best_score.php?&&page=""+pageIndex)
        var page=$(nextPageString);
        var foundScores=$(""ul.my_best_scoreList>li>div.in"",page);
        foundScores.each(function(){{
            var songName = $('.song_name',this)[0].children[0].innerText.replaceAll('""','""""').replaceAll('#','Num');
            var chartType = $($('.stepBall_img_wrap .imG img',this)[0]).attr(""src"").substring(40,41);
            var difficultyLevel = $('.stepBall_img_wrap .imG img',this).map((index,i)=> $(i).attr(""src"").substring(46,47)).get().join("""").replaceAll(""."","""");
            var scoreList = $("".etc_con>ul"",this)[0];
            var letter = $(scoreList.children[1].children[0].children[0].children[0]).attr('src').substring(32).replace("".png"","""").replace(""_p"",""+"");
            var score = $(scoreList.children[0].children[0].children[0].children[0])[0].innerText.replaceAll("","","""");
            var plate = $(scoreList.children[2].children[0].children[0].children[0]).attr(""src"").substring(32,34);
            csvString+='""'+songName+'"",'+chartType+difficultyLevel+"",""+score+"",""+letter+"",""+plate+""\r\n"";
        }});
        pageIndex++;
        console.log(""Page ""+pageIndex);
        if({_pageLimitString()}$("".xi.last"",page).length==0){{
            break;
        }}
    }}
    console.log(csvString);
    var encodedUri = encodeURI(csvString);
    window.open(encodedUri);";

    public void Dispose()
    {
        MainLayout.ImportStatusUpdated -= StatusUpdate;
        MainLayout.ImportStatusError -= ImportError;
    }
}
