@page "/Tournament/{TournamentId:guid}/Qualifiers"
@using ScoreTracker.Domain.SecondaryPorts
@using ScoreTracker.Domain.Models
@using ScoreTracker.Domain.ValueTypes
@using ScoreTracker.Domain.Enums
@using MediatR
@using ScoreTracker.Application.Queries

<PageTitle>Submit @_tournamentName Qualifiers Session</PageTitle>

<MudGrid>
    <MudItem xs="12" sm="8">
        <MudText Typo="Typo.h3">@_tournamentName Qualifiers Leaderboard</MudText>
    </MudItem>
    @if (CurrentUser.IsLoggedInAsAdmin || DateTimeOffset.Now < CutoffTime)
    {
        <MudItem xs="12" sm="4">
            <MudButton Href=@($"/Tournament/{TournamentId}/Qualifiers/Submit") Variant="Variant.Outlined" Color="Color.Primary" StartIcon="@Icons.Material.Filled.UploadFile">Submission Page</MudButton>
        </MudItem>
    }

</MudGrid>
<MudTable T="Entry" Items="_leaderboard" FixedHeader="true" Striped="true" Breakpoint="Breakpoint.None">
    <HeaderContent>
        <MudTh>Place</MudTh>
        <MudTh>UserName</MudTh>
        <MudTh>Best Song</MudTh>
        <MudTh>Second Best</MudTh>
        <MudTh>Score</MudTh>
        <MudTh>Division</MudTh>
        <MudTh>Photos</MudTh>
        @if (CurrentUser.IsLoggedInAsAdmin)
        {
            <MudTh>Approve</MudTh>
        }
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.Place</MudTd>
        <MudTd>@context.UserName</MudTd>
        <MudTd>
            @if (context.First != null)
            {
                <MudTooltip Text="@(context.First.Song.Name+' '+context.First.DifficultyString)">
                    <MudImage Src="@context.First.Song.ImagePath.ToString()" Height="35" Elevation="25" ObjectFit="ObjectFit.ScaleDown"/>
                    <br>
                    @(context.FirstScore?.ToString()??"") @(context.FirstScore?.LetterGrade.GetName()??"")
                </MudTooltip>
            }
        </MudTd>
        <MudTd>
            @if (context.Second != null)
            {
                <MudTooltip Text="@(context.Second.Song.Name+' '+context.Second.DifficultyString)">
                    <MudImage Src="@context.Second.Song.ImagePath.ToString()" Height="35" Elevation="25" ObjectFit="ObjectFit.ScaleDown" />
                    <br>
                    @(context.SecondScore?.ToString() ?? "") @(context.SecondScore?.LetterGrade.GetName() ?? "")
                </MudTooltip>
            }
        </MudTd>
        <MudTd>@context.Score</MudTd>
        <MudTd>@context.Division</MudTd>
        <MudTd>
            @if (context.IsApproved || CurrentUser.IsLoggedInAsAdmin)
            {
                <MudIconButton Icon="@Icons.Material.Filled.PhotoAlbum" Color="Color.Primary" OnClick="() => SelectEntry(context)"></MudIconButton>
            }
            else
            {
                <MudText>Pending</MudText>
            }
        </MudTd>
        @if (CurrentUser.IsLoggedInAsAdmin)
        {
            <MudTd>
                @if (!context.IsApproved)
                {
                    <MudIconButton Icon="@Icons.Material.Filled.Check" Color="Color.Primary" OnClick="()=>Approve(context.Record)"></MudIconButton>
                }
            </MudTd>
        }
    </RowTemplate>
    <ChildRowContent>
        <MudTr>
            <td colspan="6">
                @if (_selectedEntry != null && _selectedEntry.UserName==context.UserName)
                {
                    <MudGrid>
                        @foreach (var item in _selectedEntry.Photos)
                        {
                            <MudItem xs="6" sm="4" md="3">
                                <MudImage Src="@item.ToString()" ObjectFit="ObjectFit.Contain" Height="200" Width="200"></MudImage>
                            </MudItem>
                        }
                    </MudGrid>
                    @if (CurrentUser.IsLoggedInAsAdmin)
                    {
                        <MudGrid>
                            @foreach (var entry in _selectedEntry.Record.Submissions.Values)
                            {
                                <MudItem xs="6" sm="4" md="3">
                                    @_charts[entry.ChartId].Song.Name @_charts[entry.ChartId].DifficultyString: @entry.Score
                                </MudItem>
                            }
                        </MudGrid>
                    }
                }
            </td>
        </MudTr>
    </ChildRowContent>
</MudTable>
<br/>
<br/>

<MudGrid>
    <MudItem xs="12">
        <MudText Typo="Typo.h4">Event Links</MudText>
    </MudItem>
    <MudItem xs="6" sm="4" md="3">
        <MudButton StartIcon="@Icons.Material.Filled.Rule" Href="https://docs.google.com/document/d/1MTzk28rTkXyCDagb9ceYhuaje0YoMN7VD_HmdanHr18/edit?usp=sharing" Color="Color.Primary" Variant="Variant.Text" Target="_blank">Rules</MudButton>
    </MudItem>
    <MudItem xs="6" sm="4" md="3">
        <MudButton StartIcon="@Icons.Material.Filled.Event" Href="https://www.start.gg/tournament/eclipse-2023/details" Color="Color.Primary" Variant="Variant.Text" Target="_blank">Event</MudButton>
    </MudItem>
    <MudItem xs="6" sm="4" md="3">
        <MudButton StartIcon="@Icons.Material.Filled.Store" Href="https://www.rhythmeclipse.com/shop" Color="Color.Primary" Variant="Variant.Text" Target="_blank">Merchandise</MudButton>
    </MudItem>
    <MudItem xs="6" sm="4" md="3">
        <MudButton StartIcon="@Icons.Custom.Brands.Discord" Href="https://discord.gg/vJbEaHvBV" Color="Color.Primary" Variant="Variant.Text" Target="_blank">Discord</MudButton>
    </MudItem>
</MudGrid>
@inject ICurrentUserAccessor CurrentUser
@inject IQualifiersRepository Qualifiers
@inject ISnackbar Snackbar
@inject NavigationManager NavManager;
@inject IMediator Mediator;
@code
{
    private static readonly DateTimeOffset CutoffTime = new DateTimeOffset(2023, 11, 27, 2, 59, 59, TimeSpan.FromHours(-5));
    private IEnumerable<Entry> _leaderboard;
    private Entry? _selectedEntry = null;
    private IDictionary<Guid, Chart> _charts = new Dictionary<Guid, Chart>();
    private Name _tournamentName = "...";
    [Parameter]
    [SupplyParameterFromQuery(Name="TournamentId")]
    public Guid TournamentId { get; set; }
    private void SelectEntry(Entry entry)
    {
        _selectedEntry = _selectedEntry?.UserName == entry.UserName ? null : entry;
    }

    private async Task Approve(UserQualifiers qual)
    {
        qual.Approve();
        await Qualifiers.SaveQualifiers(TournamentId, qual);
        Snackbar.Add("Approved!", Severity.Success);
    }
    protected override async Task OnInitializedAsync()
    {
        if (TournamentId == default)
        {
            NavManager.NavigateTo("/");
            return;
        }
        var tournament = (await Mediator.Send(new GetAllTournamentsQuery()))
            .FirstOrDefault(t => t.Id == TournamentId);
        _tournamentName = tournament.Name;

        var config = await Qualifiers.GetQualifiersConfiguration(TournamentId);
        foreach (var chart in config.Charts)
        {
            _charts[chart.Id] = chart;
        }
        _leaderboard = (await Qualifiers.GetAllUserQualifiers(TournamentId,config)).OrderByDescending(q => q.CalculateScore()).Select((q, index) => new Entry(index + 1, q.UserName,
            q.BestCharts().First, q.BestCharts().FirstScore,q.BestCharts().Second,q.BestCharts().SecondScore,
            index<22?"Pros":index<22+48?"Mids":"Lowers",q.IsApproved,
            q.CalculateScore(), q.Submissions.Select(s => s.Value.PhotoUrl).ToArray(),q));

    }

    private sealed record Entry(int Place, string UserName, Chart? First, PhoenixScore? FirstScore, Chart? Second, PhoenixScore? SecondScore, string Division, bool IsApproved, int Score, IEnumerable<Uri> Photos, UserQualifiers Record)
    {

    }
}
